.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: #fff;
    border-bottom-color:  rgb(247,135,16) !important;
    border-bottom-width: medium;
    border-radius: 0 !important;
}

.nav-link {
    color: black !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link:hover{
    color: gray;
    border-radius: 0 !important;
}
